body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-image: url('images/20160911_170449.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: white;
    padding: 100px 0; /* Adjust the padding to fit your image and text nicely */
}

header h1 {
    /* Existing styles */
}

.what-we-do {
    padding: 20px; /* Increased padding for visual space */
    background-color: #f5f5f5;
    margin-bottom: 150px; /* Increased bottom margin */
}

.what-we-do h2 {
    /* Existing styles */
}

.profile-info {
    /* Keep it relative to ensure it flows with the document or consider another strategy for layout */
    padding: 20px;
    width: 300px; /* Or whatever width suits your design */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 20px; /* Adds some space between this section and whatever is above it */
}

.profile-info img {
    width: 80px; /* Smaller profile image */
    height: auto;
    border-radius: 50%; /* Circular image */
}

.profile-info h3 {
    margin-top: 10px;
}
